<section class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>NOSSOS PRODUTOS DA LINHA DE VODKA</h2>
                      <p>Encontre aqui as melhores Vodkas do Brasil!</p>
                  </div>
              </div>
          </div>
            
          <div div class="container-fluid">
            <div class="row bg-light ">
              <div class="col d-flex flex-wrap ">             
                <app-getvodka *ngFor="let vodka of vodkas" 
                            [src]="vodka.imagensSrc" 
                            [nomeProduto] = "vodka.nomeProduto" 
                            [valorProduto] = "vodka.valorProduto"
                            
                            >
                          </app-getvodka>  
                </div>                   
            </div>
          </div>
              
    </div>
  </section>



