<div class="container">
    <div class="row p-5">
    <div class="col-sm">
          <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/logo.png?raw=true" alt="" class="clImagemTelaIdade">
  
          <h4 class="cl404">404</h4>
          <h4 class="clPaginaNão404">Pagina Não Encontrada </h4>
        
    </div>
  
  
    <div class="col-sm">
        <div class="linha-vertical"></div>
    </div>
    
  
  <div class="col-sm">
    <h4 class="clProduto404">Mas que tal esse produto?</h4>
    <a routerLink="#"></a>
  </div>
  
  
  
  <div class="text-center p-4 h4">
    <button type="button" class="clButtonTelaIdade"><a routerlink="/">Pagina Inicial</a></button> 
  </div>
  </div>
  </div>