<div class="clHeader">.</div>
<div class="">
    <div class="row border-bottom" >
          <div class="col-4">
            <nav class="container-fluid p-2 ">
              <a class="clLogo" routerLink ="/">
                  <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/logo.png?raw=true" alt="Avatar Logo" style="width:60px;" class="rounded-pill margin-top-30"> 
              </a>
            <nav class="dp-menu" >
              <ul>
                  <li><a routerLink ="/categorias" class="clBarra">CATEGORIAS</a>
                      <ul class="dropdown-item">
                        <div class="dropdown-item-right">
                          <a routerLink ="/cachacas" class="clBarra">CACHAÇAS</a>
                          <a routerLink ="/cervejas" class="clBarra">CERVEJAS</a>
                          <a routerLink ="/gin" class="clBarra">GIN</a>
                          <a routerLink ="/vodka" class="clBarra">VODKA</a>
                        </div>
                      </ul>
                  </li>
                  <li class="clKits"><a routerLink ="/kits">KITS</a></li>
                  <li class="clContato"><a routerLink ="/contato">CONTATO</a></li>
              </ul>
            </nav>
            </nav>
          </div>
          <div class="col-6"></div>
          <div class="col"></div>
          <div class="col mt-4">      
                  <a class="nav-link clIcone" routerLink="/busca">
                    <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/icone-loupe-noir.png?raw=true" alt="busca" style="width:40px;" class="rounded-pill">
                </a>
                  <a class="nav-link clIcone " routerLink="/autenticacao">
                    <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/download.png?raw=true" alt="login" style="width:40px;" class="rounded-pill">
                </a>
                  <a class="nav-link clIcone" routerLink="/carrinhocompra">
                      <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/fig%2001.png?raw=true" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                </a>
          </div>       
    </div>
</div>


<!--  Formato Antigo, caso seja necessario voltar!
<div class="container-fluid">
  <nav class="container-fluid p-2 border-bottom">
          <a class="clLogo" routerLink ="/telaprincipal">
              <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/logo.png?raw=true" alt="Avatar Logo" style="width:60px;" class="rounded-pill margin-top-30"> 
          </a>
        <nav class="dp-menu" >
          <ul>
              <li><a routerLink ="/categorias" class="clBarra">CATEGORIAS</a>
                  <ul class="dropdown-item">
                    <div class="dropdown-item-right">
                      <a routerLink ="/cervejas" class="clBarra">CERVEJAS</a>
                      <a routerLink ="/cachacas" class="clBarra">CACHAÇAS</a>
                      <a routerLink ="/gin" class="clBarra">GIN</a>
                      <a routerLink ="/vodka" class="clBarra">VODKA</a>
                    </div>
                  </ul>
              </li>
              <li class="clKits"><a routerLink ="/kits">KITS</a></li>
              <li class="clContato"><a routerLink ="/contato">CONTATO</a></li>       
            
              <li class="clIcone">
                <a class="nav-link" routerLink="/busca">
                    <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/icone-loupe-noir.png?raw=true" alt="busca" style="width:40px;" class="rounded-pill">
                </a>
              </li>
              <li class="clIcone">
                <a class="nav-link" routerLink="/autenticacao">
                    <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/download.png?raw=true" alt="login" style="width:40px;" class="rounded-pill">
                </a>
                </li>
                <li class="clIcone">
                  <a class="nav-link" routerLink="/carrinhocompra">
                      <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/fig%2001.png?raw=true" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                  </a>
                </li> 
              
          </ul>
        </nav>
  </nav>
<div>
-->
  