
<section class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>NOSSOS PRODUTOS DA LINHA DE GIN</h2>
                      <p>Precisou de Gin, você veio ao lugar certo!</p>
                  </div>
              </div>
          </div>
             
          <div div class="container-fluid">
            <div class="row bg-light ">
              <div class="col d-flex flex-wrap ">             
                <app-getgin *ngFor="let gin of gins" 
                            [src]="gin.imagensSrc" 
                            [nomeProduto] = "gin.nomeProduto" 
                            [valorProduto] = "gin.valorProduto"
                            
                            >
                          </app-getgin>  
                </div>                   
            </div>
          </div>
        
  
    </div>
  </section>


