  
  
  
  
  
  
  
  
  
  <section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Produtos</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="single-product" >
    <div class="container">
      <div class="row" >
        <div class="col-md-5" >          
            <div class="carousel-item active">
                <img src="{{ produto.imagensSrc }}" alt="" class="img-fluid">
            </div>         
        </div>        
        <div class="col-md-7">
          <div class="single-product-details mt-5 mt-lg-0">
            <h2>{{ produto.nomeProduto }}</h2>
            <div class="sku_wrapper mb-4">
            </div>
            <hr>            
            <h3 class="product-price">{{ produto.valorProduto }}</h3>            
            <p class="product-description my-4 ">
              {{ produto.descricao}}
            </p>
            <form class="cart" action="#" method="post">
              <div class="quantity d-flex align-items-center">
                <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" size="4" >
                <a routerLink=""  class="btn btn-secondary" >Adicionar ao Carrinho</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  <!--
  <section class="section products-main">
 
          
        <div div class="container-fluid">
          <div class="row bg-light ">
            <div class="col d-flex flex-wrap ">             
              <app-getproduto *ngFor="let produto of produtos" 
                          [src]="produto.imagensSrc" 
                          [nomeProduto] = "produto.nomeProduto" 
                          [valorProduto] = "produto.valorProduto"
                          
                          
                          >
              </app-getproduto>  
           
              </div>   
          </div>
        </div>
</section>-->