
<section class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>NOSSOS PRODUTOS DA LINHA DE CERVEJAS</h2>
                      <p>Aqui você encontra a cerveja mais gelada da cidade!</p>
                  </div>
              </div>
          </div>
           
          <div div class="container-fluid">
            <div class="row bg-light ">
              <div class="col d-flex flex-wrap ">             
                <app-getcerveja *ngFor="let cerveja of cervejas" 
                            [src]="cerveja.imagensSrc" 
                            [nomeProduto] = "cerveja.nomeProduto" 
                            [valorProduto] = "cerveja.valorProduto"
                            [produtoId] = "cerveja.id">
                            
                          </app-getcerveja>  
                </div>                   
            </div>
          </div>    
    </div>
  </section>


