<div class="container p-5 my-5 border">    
    <p class=""  >ADMINISTRADOR</p>
</div>

<div class="container p-5 my-5 border">
    <a class="" routerLink="/dadosempresa"></a>
    <p class="">DADOS EMPRESA</p>
</div>

<div class="container p-5 my-5 border">
    <a class="" routerLink="/cadastroproduto"></a>
    <p class="" >CADASTRAR PRODUTOS</p>
</div>

<div class="container p-5 my-5 border">
    <a class="" routerLink="/produtos"></a>
    <p class="" >PRODUTOS CADASTRADOS</p>
</div>

<div class="container p-5 my-5 border">
    <a class="" routerLink="/relatoriocompras"></a>    
    <p class="">RELATÓRIO DE PEDIDOS</p>
</div>

