<div class="container p-3 my-5 border">    
    <p class="" >ADMINISTRADOR</p>
</div>

<div class="container p-3 my-5 border">
    <a class="navbar-brand" routerLink="/dadosempresa">DADOS DA EMPRESA</a>
</div>

<div class="container p-3 my-5 border">
    <a class="navbar-brand" routerLink="/cadastroproduto">CADASTRO DE PRODUTOS</a>
</div>

<div class="container p-3 my-5 border">
    <a class="navbar-brand" routerLink="/produtos">PRODUTOS CADASTRADOS</a>
</div>

<div class="container p-3 my-5 border">
    <a class="navbar-brand" routerLink="/relatoriocompras">RELATÓRIO DE PEDIDOS</a>
</div>

