.clButtonSalvar {
    border: 2px none;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 8px;
    background-color:  #710000;
    transition: 0.25s;
    border-color: aliceblue;
    cursor: pointer;
    color: aliceblue;
  }
  
  .clButtonSalvar:hover {
    background-color: #830101;
  }

  button{
    margin-top: 15px;
    margin-right: 15px;
}