<div>
      <div class="d-flex justify-content-end"><button class="btn btn-secondary " [disabled] = "!readLocalStorageToken()" (click)="signiOut()">Deslogar</button></div>
      
  </div>              
  <div class="container p-3 my-5 border">    
      <p class="" >CENTRAL DO USUÁRIO</p>
  </div>
  
  <div class="container p-3 my-5 border">
      <a class="navbar-brand" routerLink="/dadosusuario"> MEUS DADOS</a>
  </div>
  
  <div class="container p-3 my-5 border">
      <a class="navbar-brand" routerLink="/cadastroproduto">MEUS PEDIDOS</a>
  </div>
  
  <div class="container p-3 my-5 border">
      <a class="navbar-brand" routerLink="/produtoscadastrados">LISTA DE DESEJOS</a>
  </div>
  
