<div class="clcontainer-fluid p-5 container-sm d-flex justify-content-center">
    <div class="text-center" >
    <div class=" p-4 h3">Sua Conta</div>
    
          <div class="p-5">
                <div class="p-1 h5">
                      <a href="/contato" class="list-group-item">Meus Dados</a> 
                
                </div>
    
                <div class="p-3 h5"> 
                      <a href="#" class="list-group-item">Meus Pedidos</a> 
                </div>
    
                <div class="p-1 h5"> 
                      <a href="#" class="list-group-item">Sua Lista de Desejos</a> 
                </div>
          </div>
          

          
          
    </div>
    
    </div>