<div class="container my-5">
    <table class="table">
      <thead>
        <tr >
          <th>Código Produto</th>
          <th>Nome Produto</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Descrição / Imagem</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.id}}</td>
          <td>{{produto.nomeProduto}}</td>
          <td>{{produto.valorProduto}}</td>
          <td>{{produto.quantidade}}</td>          
          <td>
            
              <a data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"></a>
              <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" 
                        aria-controls="multiCollapseExample1 multiCollapseExample2">Descrição/Imagem</button>
            
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body">
                    {{produto.descricao}}
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                    {{produto.imagensSrc}}
                  </div>
                </div>
              </div>
            </div>
       </td>
          <td>
            <a routerLink = "/produtoupdate/{{ produto.id }}" class="edit">
              <i class="bi bi-pencil-fill"></i>
              
            </a>
            <a routerLink = "/produtoupdate/{{ produto.id }}" class="delete">
              <i class="bi bi-trash " ></i>
            </a>         
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>

 
