<div class="card text-center p-5 h4 bg-light">
    <div>
          <img src="https://github.com/robsonhoepers/Projeto-Final/blob/main/src/assets/icones/logo.png?raw=true" alt="" class="clImagemTelaIdade">
    </div>

    <div class="p-4">
          <h4>Você tem 18 anos ou mais?</h4>
    </div>

    <div class="p-4 h4">
            <button type="button" class="clButtonTelaIdade"(click)="login()" ><a routerLink="/" class="clRouterLink">Sim</a></button> 
            <button type="button" class="clButtonTelaIdade"><a routerLink="/error404" class="clRouterLink">Não</a></button>
     </div>

     <div>
          <h4 class="p-4"> O consumo de bebidas alcoólicas é proibido para menores de 18 anos.</h4>
    </div>


</div>