<section class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>NOSSOS KITS PROMOCIONIAS</h2>
                      <p>Fique a vontade pra escolher o melhor presente para aquela pessoa especial!</p>
                  </div>
              </div>
          </div>
          <!--
          <div div class="container-fluid">
            <div class="row bg-light ">
              <div class="col d-flex flex-wrap ">             
                <app-getkits *ngFor="let kits of kits" 
                            [src]="kits.imagensSrc" 
                            [nomeProduto] = "kits.nomeProduto" 
                            [valorProduto] = "kits.valorProduto"
                            
                            >
                          </app-getkits>  
                </div>                   
            </div>
          </div>
        -->
  
             
    </div>
  </section>


