/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  color: #000;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}

.wrapper {
  padding: 0px 100px;
}

a,
button {
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover,
a:focus,
a button:hover,
button:hover,
button:focus,
button button:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: #fb5c42;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn.focus,
.btn:focus {
  box-shadow: none !important;
}

.navbar-toggle .icon-bar {
  background: #fb5c42;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  background: #eee;
  border-color: #eee;
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
  box-shadow: none;
  border: 1px solid #fb5c42;
}

.form-control {
  box-shadow: none;
  border-radius: 0;
  height: 45px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #fb5c42;
}

.btn {
  font-size: 18px;
  letter-spacing: .5px;
  padding: 14px 35px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 0px;
  border: 2px solid transparent;
}

.btn-main {
  background: #fb5c42;
  color: #fff !important;
  border-color: #fb5c42;
}

.btn-main:hover {
  background: transparent;
  border-color: #fb5c42;
  color: #000 !important;
}

.btn-main-transparent {
  background: transparent;
  border: 2px solid #fb5c42;
  color: #000;
}

.btn-main-transparent:hover {
  background: #fb5c42;
  color: #fff;
}

.btn-solid-border {
  border: 2px solid #000;
  background: #000;
  color: #fff;
}

.btn-solid-border:hover {
  background: #fb5c42;
  color: #fff !important;
  border-color: #fb5c42;
}

.btn-transparent {
  background: transparent;
  color: #000 !important;
  border: 2px solid #000;
}

.btn-transparent:hover {
  background: #fb5c42;
  color: #fff !important;
  border-color: #fb5c42;
}

.btn-black {
  background: #000;
  color: #fff;
  border-color: #000;
}

.btn-black:hover {
  background: #fb5c42;
  color: #fff;
  border-color: #fb5c42;
}

.btn-small {
  padding: 10px 25px;
}

.btn-extra-small {
  padding: 5px 10px;
  font-size: 12px;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn:focus {
  color: #ddd;
}

.bg-gray {
  background: #f9f9f9;
}

.section {
  padding: 80px 0;
}

.title {
  margin-bottom: 60px;
}

.title h2 {
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.social-media-icons ul li {
  display: inline-block;
}

.social-media-icons ul li a {
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
}


.text-gray {
  color: #898a8f;
}

.bg-gray {
  background: #f2f3f5;
}

.mb-40 {
  margin-bottom: 35px;
}

.read-more {
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.read-more:hover {
  color: #fb5c42 !important;
  border-color: #fb5c42;
}

.pagination {
  -webkit-box-pack: center;
          justify-content: center;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #dedede;
  text-align: center;
  margin-right: 6px;
  color: #757575;
}

.pagination .page-item .page-link:hover {
  background: #fb5c42;
  color: #fff;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 0;
}

.pagination .page-item.active .page-link {
  background: #fb5c42;
  color: #fff;
  border-color: #fb5c42;
}

.text-primary {
  color: #fb5c42 !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #fb5c42 !important;
}

.content * {
  margin-bottom: 20px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-bottom: 10px;
}

.content ol {
  padding-left: 15px;
}

.content ul {
  padding-left: 0;
}

.content ul li {
  position: relative;
  list-style-type: none;
  padding-left: 15px;
  margin-bottom: 10px;
}

.content ul li::before {
  position: absolute;
  content: "\f363";
  font-family: "therichpost-font";
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #fb5c42;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.content table {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

.content table th,
.content table td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.content table thead {
  background: #707070;
}

.content table tbody {
  background: #757575;
}

.content table tbody td {
  text-align: left !important;
}

.content blockquote {
  padding: 20px;
  border-left: 5px solid #fb5c42;
}

.content blockquote p {
  margin-bottom: 0;
  color: #000;
  font-style: italic !important;
}

.content pre {
  padding: 10px 20px;
  background: #757575;
}

.page-header h1 {
  margin-bottom: 0px;
}

.page-header p {
  color: #000;
}

.page-wrapper {
  padding: 70px 0;
}

.search-wrap {
  position: relative;
  z-index: 1200;
  top: 20px;
  right: 16px;
  display: inline-block;
}

.overlay.open {
  visibility: visible;
  height: 100%;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: opacity .35s, visibility .35s, height .4s;
  transition: opacity .35s, visibility .35s, height .4s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.98);
}

.overlay .search-form {
  position: relative;
  height: 100%;
  padding-top: 300px;
}

.overlay .search-form input {
  font-size: 56px;
  height: 60px;
  color: #fff;
  border: none;
  background: transparent;
}

.search_toggle {
  cursor: pointer;
}

.toggle-wrap.active {
  position: relative;
  z-index: 10000;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.toggle-wrap.active img.search-close {
  display: block;
}




.product {
  position: relative;
  -webkit-transition: .4s all;
  transition: .4s all;
  overflow: hidden;
}

.product:hover .product-hover-overlay {
  opacity: 1;
}

.product:hover .img-second {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.img-first {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.img-second {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}



.product-title a {
  color: #000;
  letter-spacing: .5px;
}

.product-info {
  text-align: center;
}

.product-info .price {
  color: #777;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

.product-info del {
  margin-right: 8px;
}

.onsale {
  background: #fb5c42;
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 0px;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}


.share-product li a {
  color: #444;
  font-size: 14px;
}

.single-product {
  padding: 60px 0 40px;
}

.single-product .breadcrumb {
  background: transparent;
}

.single-product .breadcrumb li {
  color: #000;
  font-weight: 200;
}

.single-product .breadcrumb li a {
  color: #000;
  font-weight: 200;
}

.single-product .product-pagination li {
  display: inline-block;
  margin: 0 8px;
}

.single-product .product-pagination li + li:before {
  padding: 0 8px 0 0;
  color: #ccc;
  content: "/\00a0";
}

.single-product .product-pagination li a {
  color: #000;
  font-weight: 200;
}

.single-product .product-pagination li a i {
  vertical-align: middle;
}

.single-product-details .product-price {
  font-family: "Poppins", sans-serif;
}

.single-product-details .product-price del {
  color: #777;
}

.single-product-details .cart .btn {
  padding: 8px 12px;
}


.single-product-details .product-meta-title {
  width: 20%;
}

.single-product-details .color-swatches a {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.single-product-details .product-size .form-control {
  display: inline-block;
  width: 130px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  box-shadow: none;
}

.single-product-details .product-category ul {
  width: 140px;
  display: inline-block;
}

.single-product-details .product-category ul li {
  display: inline-block;
  margin: 5px;
}

.single-product-details .product-quantity .product-quantity-slider {
  width: 140px;
}

.single-product-details .product-quantity .product-quantity-slider input {
  width: 130px;
}



.product-info-tabs {
  border-bottom: 1px solid #dedede;
}

.product-info-tabs .nav-tabs a {
  color: #000;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.product-info-tabs .nav-tabs .nav-link {
  border: 1px solid #dedede;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #ccc;
}

.product-info-tabs .nav-tabs .nav-link.active {
  color: #000;
}

.product-info-tabs .nav-tabs {
  border-bottom: 0px;
}

.widget .btn {
  margin: 0px;
  padding: 5px 16px;
  color: rgb(65, 63, 63);
  font-size: 16px;
}

.review-block span i {
  color: #EABE12;
}

.review-block img {
  width: 120px;
}

.review-comment .form-control {
  background: rgb(51, 50, 50);
  border-color: #eee;
}

.info-desc li {
  margin-bottom: 10px;
}

.info-desc strong {
  width: 20%;
}

.info-desc span {
  margin-left: 40px;
}

.starrr i {
  cursor: pointer;
  color: #EABE12;
  font-size: 30px;
}

.team-member p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.shopping.cart .product-list .product-name a {
  color: #000;
  font-weight: 600;
}

.shopping.cart .product-list .qty {
  width: 65px;
  text-align: center;
  border-color: #eee;
  border: 1px solid #eee;
  padding: 5px;
}

.shopping.cart .product-list .input-text.form-control {
  width: 30%;
  display: inline-block;
  height: 50px;
}

.order-details {
  padding: 30px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.order-details li {
  line-height: 1;
  margin-right: 2em;
  margin-left: 0;
  padding-right: 4em;
  color: #777;
  padding-left: 0;
  list-style-type: none;
  text-transform: uppercase;
  border-right: 1px dashed #d3ced2;
}

.order-details li h5 {
  margin-top: 15px;
  text-transform: capitalize;
}



.product-categories li {
  margin: 10px 0px;
}

.product-categories li a {
  color: #000;
}














html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
